$border-background: #d4d4d4;
$background:#adadac;
/*
.Select select{
    background: transparent;
    width: 90%;
    border: none;
    margin-left: 10px;
    
}
.Select select:focus{
    outline: none;;
}    
*/


.last{
    border-left: 0.5px solid $border-background;
    border-radius: 15px 0 0 15px;
}

.dropdown{
    position: relative; 
    display: inline-block;
}
.dropdown .button{
    margin-left: 20px;
    padding: 5px 15px;
    border-bottom: 1px solid $background; 
    text-align: left; 
}
.noContent{
    display: none;
}
.dropContent{
    width: 100px;
    position: absolute;
    z-index: 19;
    background-color: $background;
    border: 1px solid black;
    border-radius: 5px;
    padding-inline-start: 5px;
}

.dropContent li{
    display: block;
    font-size: 12px;
    color: white;

}

.dropContent li:hover{
   background-color: #858383;
   cursor: pointer;
}
.arrow {
    padding-left: 2px;
    color: $background;
}