.inp input{
    background: transparent;
    width: 90%;
    border: none;
    border-bottom: 1px solid  #adadac ;
}
.inp input:focus{ 
    outline: none;
    border-bottom: 1px solid #02add7;
}
.inp .prefix{
    text-decoration: none;
    color: #adadac;
}