$primary-background-color: #cfcfcf;
$font: 'Open Sans', sans-serif;
$text-color: #a3853c7b;


.Table table{
    width: 90%;
    border: none;
    margin: 10px;
    text-align: left;
    border-spacing: 0 5px;
    border-collapse: separate;
    border-style: none;
}
.Table tr{
    height: 30px;
}
.Table .plus{
    color : violet;
    padding: 2px;
    border: 1px solid violet;
    border-radius: 50%;
}

.Table .tbl{
    min-height: 200px;
}
.add{
    padding: 2px;
    font-size: 16px;
}
.Table .btn{
    padding: 5px;
    width: 90%;
    text-align: left;
    margin: 20px;
    border-top: 0.5px solid black ;
    border-bottom: 0.5px solid black;
}
.Table .btn button{
    background-color: white;
    border: none;
}



   
