$primary-background-color: #cfcfcf;
$font: 'Open Sans', sans-serif;
$text-color: #a3853c7b;

.Table table{
    width: 100%;
    margin: 10px;
    border: 0.5px solid grey;
    background-color:$primary-background-color;
    font-family: $font;
}
.Table thead {
    margin: auto;
    text-align: center;
    color: $text-color;
}


   

.Table tbody tr:hover{
 background-color: #9c9c9c;
}

.Table tfoot {
    text-align: left;
}
.Table tfoot td {
    text-align: left;
    padding: 20px;
}
.Table button{
    border: 2px solid #5e5e5e;
    background-color: $primary-background-color;
    padding: 5px;
    border-radius: 15%;
}
